@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Poppins:ital@0;1&family=Raleway&display=swap');

* {
    margin:0;
    padding:0;
}

.ind {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: justify;
    line-height: normal;
    letter-spacing: 0px;
    word-spacing: 0px;
    text-transform: none;
    color: rgb(10, 9, 9);
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: rgb(20, 67, 20);
}

body {
    background-color: #dcf9e4;
}

h2 {
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
}

h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
}

h4 {
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
}

este no cambio
.primero {
    font-size: 25px;
    text-align: left;
}

.espinillo {
    font-size: 15px;
    word-spacing: 5px;
    font-family: 'Poppins', sans-serif;
}

.malva {
    font-size: 15px;
    word-spacing: 5px;
    font-family: 'Poppins', sans-serif;
}

.manzanilla {
    font-size: 15px;
    word-spacing: 5px;
    font-family: 'Poppins', sans-serif;
}